* {
    margin: 0;
    padding: 0;
}

.hero-section img{
    width: 100%;
    margin-bottom: 76px;
}

.hero-section-content {

    margin-left: 143px;
    padding-bottom: 106px;
}

.hero-section-content h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 29px;
    width: 70%;
    max-width: 850px;
}

.hero-section-content p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    width: 70%;
    max-width: 850px;
    margin-bottom: 29px;
}

.partners-section {
    background-color: #E5E7EB;
    padding-top: 20px;
    padding-bottom: 40px;
}

.partners-section h1 {
    font-family: 'Manrope', sans-serif; 
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 23px;
    text-align: center;
    width: 60%;
    max-width: 500px;
    margin: auto;
}


.partners-section p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-bottom: 56px;
    justify-content: center;
    width: 50%;
    max-width: 750px;
    margin: auto;
}

.partners-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 79px;
    max-width: 1400px;
    margin: auto;
}

.mission-section {
    padding-top: 158px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-content h1, .vision-content h1, .values-content h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 40px;
    text-align: center;
}

.mission-content p, .vision-content p, .values-content p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    width: 450px;
    text-align: center;
    margin-bottom: 130px;
}

.values-content p {

    width: 620px;
}

.mission-vision-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10vw;
    margin-bottom: 100px;
}

.career-section {
    background-color: #E5E7EB;
    padding-top: 45px;
    padding-bottom: 48px;
    padding-left: 147px;
    padding-right: 147px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.career-tagline h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 24px;
}

.career-tagline p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    width: 550px;
    margin-bottom: 20px;
}

.career-button {
    background-color: #ef4444;
    width: 302px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ef4444;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}

.career-button a {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: 150ms ease-in-out;
}

.career-button:hover {
    background-color: #ffffff;
    color: #ef4444;
    cursor: pointer;
}

.career-button:hover > a {
    color: #ef4444;
}

.career-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 26px;
}

.career-contact p {

    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
}




/* Partners Images */

#century {
    width: 123px;
    height: 123px;
}

#KKRI {
    width: 233px;
    height: 105px;
}

#watsons {
   width: 221px;
   height: 59px;
}

#guardian {
    width: 202px;
    height: 83px;
}

#siloam {
    width: 296px;
    height: 74px;
}

#bimc {
    width: 224px;
    height: 80px;
}

#mayapada {
    width: 249px;
    height: 73px;
}

/* End of Partners Images */

.navbar {
      padding: 2% 1%;
    }

    .navbar-nav{
        background-color: #201f1f;
        color: #ffffff;
        padding: 24px 0px;
        padding-left: 00px;
        padding-right: 20px;
        width: 100%;
        max-width: 600px;
        margin: auto;
        margin-top: 0;
        border-radius: 7px;
        justify-content: space-evenly;
    }
    .navbar-brand img {
      height: 50px;
    }
    .nav-link {
      color: #ffffff !important;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      transition: 150ms ease-in-out;
      padding : 0;
      margin-left: 15px;
    }
    .nav-link:hover {
      text-shadow: 0px 0px 1px white;
    }
    .connect-button {
      background-color: #ef4444;
      border-radius: 7px;
      border: 2px solid #ef4444;
      height: 72px;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      transition: 300ms ease-in-out;
      text-decoration: none;
    }
    .connect-button span {
      font-family: 'Manrope', sans-serif;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin-right: 10px;
      transition: 300ms ease-in-out;
    }
    .connect-button img {
      transition: 300ms ease-in-out;
    }
    .connect-button:hover {
      background-color: #ffffff;
    }
    .connect-button:hover span {
      color: #ef4444;
    }
    .connect-button:hover img {
      content: url(/icons/arrow-top-right-red.svg);
      transform: rotate(45deg);
    }

    body {
        margin: 0;
    }
    footer {
        background-color: #201f1f;
        padding-bottom: 5px;
    }

    .contact-us{
        padding-top: 27px;
        padding-bottom: 81px;
    }

    .contact-us h1{
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 16px;
    }

    .contact-us p{
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 32px;
        text-align: center;
    }

    .connect-button-f {
        margin:auto;
        background-color: #ef4444;
        border-radius: 7px;
        width: 302px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        color: #ffffff;
        transition: 150ms ease-in-out;
        border: 2px solid #ef4444;
    }
    .connect-button-f a {
        text-decoration: none;
        color: #ffffff;
        transition: 150ms ease-in-out;
    }

    .connect-button-f:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

    .connect-button-f:hover > a {
        color: #ef4444;
    }

    .footer-content {
        display: flex;
        gap: 100px;
    }

    .footer-content h1{
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 32px;
        color: #ef4444;
    }

    .contact-info{
        margin: 0;
    }

    .contact-info p{
        margin: 0;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        width: 300px;
        margin-bottom: 5px;
        margin-top: 5px;
        
    }

    .phone-number, .email, .careers {
        display: flex;
    }

    .phone-number img, .email img, .careers img {
        margin-right: 10px;
    }

    .site-navigation ul{
        list-style: none;
        padding: 0;
    }
    .site-navigation ul li{
        margin-bottom: 10px;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
    }

    .site-navigation ul li a {
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
    }

    .copyright {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }

    .footer-container #logo{
        width: 183px;
        height: 68px;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media screen and (max-width: 1200px){
        .footer-container {
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .footer-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .footer-content h1 {
            margin-bottom: 20px;
        }
        .contact-info p {
            width: auto;
        }
    }