* {
    margin: 0;
    padding: 0;
}

#contact-hero-image {
    width: 100%;
}

.contact-section {
    padding-top: 113px;
    padding-left: 147px;
    padding-right: 147px;
    padding-bottom: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 29px;
}

.contact-content > p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 29px;
    width: 550px;
}

.contact-content h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ef4444;
    margin-bottom: 10px;
}

.email-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.email-info p, .phone-info p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
}

.phone-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.contact-form {
    margin-top: 39px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group label {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    color: #ef4444;
}

.form-group input, .form-group select, .form-group textarea {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    background-color: transparent;
    width: 418px;
    margin-bottom: 22px;
}

.form-group select option {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 22px;
}

.form-group textarea {
    height: 100px;
    resize: none;
    margin-bottom: 18px;
}

.form-button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-button button {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    width: 189px;
    height: 42px;
    border-radius: 7px;
    cursor: pointer;
}

.form-button button[type="reset"] {
    background-color: #e5e7eb;
    color: #000000;
    border: 2px solid #e5e7eb;
    transition: 150ms ease-in-out;
}

.form-button button[type="submit"] {
    background-color: #ef4444;
    color: #ffffff;
    border: 2px solid #ef4444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 9px;
    padding-left: 38px;
    transition: 150ms ease-in-out;
}

.form-button button[type="submit"]:hover {
    background-color: #ffffff;
    color: #ef4444;
    cursor: pointer;
}

#arrow-top-right {
    transition: 150ms ease-in-out;
}

.form-button button[type="reset"]:hover {
    background-color: #000000;
    color: #ef4444;
    cursor: pointer;
    border: 2px solid #ef4444;
    transition: 150ms ease-in-out;
}

.map-section {
    background-color: #e5e7eb;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-right: 154px;
    padding-left: 154px;
}

.map-section h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #ef4444;
    margin-bottom: 29px;
    text-align: right;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    
}

.map-section p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 29px;
    text-align: right;
    width: 600px;
    margin-left: auto;
    margin-bottom: 46px;
}

.map-container {
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 450px;
    border: none;
    margin-left: auto;

}

.waze-button {
    background-color: #32ccfe;
    max-width: 200px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    border-radius: 7px;
    cursor: pointer;
    justify-content: space-between;
    padding-right: 9px;
    padding-left: 20px;
    border: 2px solid #32ccfe;
    transition: 150ms ease-in-out;

}

.google-maps-button {
    background-color: #34A843;
    width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 7px;
    cursor: pointer;
    justify-content: space-between;
    padding-right: 9px;
    padding-left: 27px;
    border: 2px solid #34A843;
    transition: 150ms ease-in-out;
}

.waze-button a, .google-maps-button a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-items: center;
    margin: auto;
}

.map-buttons {
    display: flex;
    gap: 36px;
    margin-bottom: 11px;
}

.waze-button:hover, .google-maps-button:hover {
    background-color: #ffffff;
}

.waze-button:hover > a {
    color: #32ccfe;
}

.google-maps-button:hover > a {
    color: #34A843;
}



    .navbar {
      padding: 2% 1%;
    }

    .navbar-nav{
        background-color: #201f1f;
        color: #ffffff;
        padding: 16px 0px;
        padding-left: 00px;
        padding-right: 20px;
        width: 100%;
        max-width: 600px;
        margin: auto;
        margin-top: 0;
        border-radius: 7px;
        justify-content: space-evenly;
    }
    .navbar-brand img {
      height: 50px;
    }
    .nav-link {
      color: #ffffff !important;
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 16px;
      transition: 150ms ease-in-out;
      padding : 0;
      margin-left: 15px;
    }
    .nav-link:hover {
      text-shadow: 0px 0px 1px white;
    }
    .connect-button {
      background-color: #ef4444;
      border-radius: 7px;
      border: 2px solid #ef4444;
      height: 72px;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      transition: 300ms ease-in-out;
      text-decoration: none;
    }
    .connect-button span {
      font-family: 'Manrope', sans-serif;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin-right: 10px;
      transition: 300ms ease-in-out;
    }
    .connect-button img {
      transition: 300ms ease-in-out;
    }
    .connect-button:hover {
      background-color: #ffffff;
    }
    .connect-button:hover span {
      color: #ef4444;
    }
    .connect-button:hover img {
      content: url(/icons/arrow-top-right-red.svg);
      transform: rotate(45deg);
    }

    footer {
        background-color: #201f1f;
        padding-bottom: 5px;
    }

    .contact-us{
        padding-top: 27px;
        padding-bottom: 81px;
    }

    .contact-us h1{
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 16px;
    }

    .contact-us p{
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 32px;
        text-align: center;
    }

    .connect-button-f {
        margin:auto;
        background-color: #ef4444;
        border-radius: 7px;
        width: 302px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        color: #ffffff;
        transition: 150ms ease-in-out;
        border: 2px solid #ef4444;
    }
    .connect-button-f a {
        text-decoration: none;
        color: #ffffff;
        transition: 150ms ease-in-out;
    }

    .connect-button-f:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

    .connect-button-f:hover > a {
        color: #ef4444;
    }

    .footer-content {
        display: flex;
        gap: 100px;
    }

    .footer-content h1{
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 32px;
        color: #ef4444;
    }

    .contact-info{
        margin: 0;
    }

    .contact-info p{
        margin: 0;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        width: 300px;
        margin-bottom: 5px;
        margin-top: 5px;
        
    }

    .phone-number, .email, .careers {
        display: flex;
    }

    .phone-number img, .email img, .careers img {
        margin-right: 10px;
    }

    .site-navigation ul{
        list-style: none;
        padding: 0;
    }
    .site-navigation ul li{
        margin-bottom: 10px;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
    }

    .site-navigation ul li a {
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
    }

    .copyright {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        margin-top: 30px;
    }

    .footer-container #logo{
        width: 183px;
        height: 68px;
    }

    .footer-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media screen and (max-width: 1200px){
        .footer-container {
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .footer-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .footer-content h1 {
            margin-bottom: 20px;
        }
        .contact-info p {
            width: auto;
        }
    }